<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApiCallsKt"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".sqLite_java.activity.SqLiteJvActivity"
            android:exported="false" />
        <activity
            android:name=".sqLite_kotlin.activity.SqLiteKtActivity"
            android:exported="false" />
        <activity
            android:name=".volley_java.activity.VolleyPostJvActivity"
            android:exported="false" />
        <activity
            android:name=".volley_kotlin.activity.VolleyPostKtActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_kotlin.activity.SinglePostKtActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_java.activity.AllCommentsJvActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_java.activity.SInglePostJvActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_java.activity.SinglePostJvActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_java.activity.PostJvActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit_kotlin.activity.PostKTActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>